/* COLORS
dark blue: #1F1F3D
med blue: #A9AAD2
light blue/grey: #EAEAF4
white: #FFFFFF

thin line: #353567
bottom of card/show ideas button: #5356A4
'Comment' text color: #E9E9F3
'filter starred ideas': #BFBFDD

 */

* {
  border: 1px solid red;
  font-family: "Open Sans";
}

nav {
  background-color: #1F1F3D;
  display: flex;
  flex-direction: column;
  position: absolute;
  color: white;
  width: 260px;
  height: 100%;
}

.starred-container {
  border: 1px solid #353567;
}

.filter-label,
.show-button {
  margin: 10px;
}
