/* COLORS
dark blue: #1F1F3D
med blue: #A9AAD2
light blue/grey: #EAEAF4
white: #FFFFFF

thin line: #353567
bottom of card/show ideas button: #5356A4
'Comment' text color: #E9E9F3
'filter starred ideas': #BFBFDD

 */

* {
  /* border: 1px solid red; */
  font-family: "Open Sans";
}

nav {
  background-color: #1F1F3D;
  display: flex;
  flex-direction: column;
  position: absolute;
  color: white;
  width: 20%;
  height: 100%;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  background-color: #A9AAD2;
}

.magnification {
  background-color: #5356A4;
  padding: 5px;
  color: white;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}

.starred-container {
  border: 1px solid #353567;
}

.filter-label {
  margin: 10px;
  color: #E9E9F3;
}

 .show-button {
  margin: 10px;
  background-color: #5356A4;
  color: #E9E9F3;
  border-color: #353567;
  border-width: 1px;
  border-style: solid;
}

.show-button,
.title-input,
.body-input,
.search-ideas {
  border-radius: 1px;
  border-color: #353567;
}
